html *
{
    font-size: small; 
    font-family: Courier New;
}

body
{
	background-color: whitesmoke;
}

h1 {
   text-align: center;
   font-size: 400%;
}
h2 {
	text-align: center;
	font-size: 135%;
}
h3 {
   text-align: center;
   font-size: 75%;
}
.hidden   { display: none; }
.unhidden { display: block; }

#drop_zone {
	width: auto;
	height: 100px;
	border: 10px solid #DDD;
	border-radius: 15%;
	background-color: #2E3134;
	margin-left:20%; 
	margin-right:20%;
	text-align: center;
	color: #BBB;
	font-size: 2em;
	font-family: Courier New;
	padding: 2%;
	
	border-style: solid;
   	border-color: #DDD;
	transition:.15s;
}
.thumb {
    height: 75px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
}

table.table {
	border: 3px;
    background-color: rgba(0, 0, 0, 0);
    margin-left:auto; 
    margin-right:auto;

    min-width: 90%;
    max-width: 90%;
    border-spacing:0%;
    border-collapse: separate;
}
table.table td.table_input {
	border-radius: 5px;
    overflow-x: auto;
    max-width: 40%;
    padding: 1%;
    border-style: none;
    background-color: white;
}
table.table td.table_output {
	border-radius: 5px;
	overflow-x: auto;
	max-width: 60%;
	
    padding: 1%;
    border-style: none;
    background-color: white; 
}
table.table td        { vertical-align: top; text-align: left;} 
table.table th        { vertical-align: top; font-size: 150%;} 

ol.ol_output {color: black; font-weight: bold; }
li {border-radius: 2px; padding: 1%;}

li.repeated                    { background-color: #ff9a9a; transition:.2s;}
li.repeated span               { color: white; transition:.2s; }
li.repeated:hover              { background-color: #ff0000; transition:.2s;} 
li.repeated:hover span         { color: black; transition:.2s; }

li.header                      { background-color: #e6efff; transition:.2s;}
li.header span                 { color: black; transition:.2s; }
li.header:hover                { background-color: #005aff; transition:.2s;}
li.header:hover span           { color: white; transition:.2s; }

li.comments                    { background-color: #ffead5; transition:.2s; }
li.comments span               { color: black; transition:.2s; }
li.comments:hover              { background-color: #f37d0a; transition:.2s; }
li.comments:hover span         { color: white; transition:.2s; }

li.blanks                      { background-color: #ebffd5; transition:.2s; }
li.blanks span                 { color: black; transition:.2s; }
li.blanks:hover                { background-color: #63bc03; transition:.2s; }
li.blanks:hover span           { color: white; transition:.2s; }

li.nameEqualValue              { background-color: #d5fffb; transition:.2s; }
li.nameEqualValue span         { color: black; transition:.2s; }
li.nameEqualValue:hover        { background-color: #0dd7c2; transition:.2s; }
li.nameEqualValue:hover span   { color: white; transition:.2s; }

li.error                       { background-color: #ff9a9a; transition:.2s; }
li.error span                  { color: black; transition:.2s; }
li.error:hover                 { background-color: #ff0000; transition:.2s; }
li.error:hover span            { color: white; transition:.2s; }



/*li.repeated                    { background-color: #ff9a9a; }
li.repeated span               { color: white; }
li.repeated:hover              { background-color: #ff0000; } 
li.repeated:hover span         { color: black; }

li.header                      { background-color: #e6efff; }
li.header span                 { color: black; }
li.header:hover                { background-color: #005aff; }
li.header:hover span           { color: white; }

li.comments                    { background-color: #ffead5; }
li.comments span               { color: black;}
li.comments:hover              { background-color: #f37d0a; }
li.comments:hover span         { color: white; }

li.blanks                      { background-color: #ebffd5; }
li.blanks span                 { color: black; }
li.blanks:hover                { background-color: #63bc03; }
li.blanks:hover span           { color: white; }

li.nameEqualValue              { background-color: }
li.nameEqualValue span         { color: black; }
li.nameEqualValue:hover        { background-color: #0dd7c2; }
li.nameEqualValue:hover span   { color: white; }

li.error                       { background-color: #ff9a9a; }
li.error span                  { color: black; }
li.error:hover                 { background-color: #ff0000;}
li.error:hover span            { color: white; }*/
