<html>
	<head>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		 <title>INI files</title>
			
		 <script type="text/javascript" src="libs/underscore.js"></script>
		 <script type="text/javascript" src="libs/jquery.js"></script>
		 
		 <link href="css/style.css" rel="stylesheet" type="text/css">		
		 <link rel="shortcut icon" href="assets/etsiiull.png" type="image/x-icon">
		 <script type="text/javascript" src="scripts/ini.js"></script>
	</head>
	<body>
		
		<!-- template -->
		<script type="text/html" id="table_template">
		<ol class="ol_output"> <% _.each(tokens, function(token, index){ %> <li class = "<%= token.type %>"> <span> <%= matches[index] %> </span></li> <% }); %> </ol>
		</script>
		
		<table class="table">
		  <tr><td><h1>INI Files</h1></td></tr>
		  <tr><td><h2><div id="drop_zone">Drop files here</h2></div></td></tr>
		  <tr><td><h3><output id="txtfileAttributes"></output></h3></td></tr>
		</table>
		
		<div id="out" class="hidden">
			
		<table class="table">
		  <tr><th>Original</th><th>Tokens</th></tr>
		  <tr>
			<td class="table_input">
			  <pre class="input" id="initialinput"></pre>
			</td>
			<td class="table_output">
			  <pre class="output" id="finaloutput"></pre>
			</td>
		  </tr>
		</table>
		
		
		</div> 
		
		<a href="tests/index.html">tests link</a>
	  </body>
</html>
